body{
    margin: 0;
    overflow: hidden;
}

#the_image{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s ease-in-out;
    z-index: -1;
    opacity: 0;
    pointer-events: None;
}

#the_image.zoomed{
    transform: translate(-50%, -50%) scale(10);
    opacity: 1;
    z-index: 999;
}